network-flows.json
[
    {
        "id": "6234319b.02168",
        "type": "comment",
        "z": "b872d9b2.c3fec8",
        "name": "Fire Image AI Flow",
        "info": "",
        "x": 460.00000762939453,
        "y": 54.250000953674316,
        "wires": []
    },
    {
        "id": "ac61573c.c607e8",
        "type": "twilio out",
        "z": "b872d9b2.c3fec8",
        "twilio": "13d31f91.4f36",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "SMS alert to neighbour",
        "x": 1407.750015258789,
        "y": 181.00000476837158,
        "wires": []
    },
    {
        "id": "797bfabd.61eef4",
        "type": "ibmiot in",
        "z": "b872d9b2.c3fec8",
        "authentication": "apiKey",
        "apiKey": "2d39eb3.3865614",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 474.5000190734863,
        "y": 314.75000381469727,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "4a702bae.61b6e4",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "On Fire #03-456",
        "topic": "On Fire ",
        "payload": "{\"#03-456\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 534,
        "y": 384,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "c6a2ed2a.639de",
        "type": "debug",
        "z": "b872d9b2.c3fec8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1309.7500190734863,
        "y": 378.75000762939453,
        "wires": []
    },
    {
        "id": "567e12e2.de654c",
        "type": "uibuilder",
        "z": "b872d9b2.c3fec8",
        "name": "",
        "topic": "",
        "url": "svgtest",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "x": 788,
        "y": 350,
        "wires": [
            [
                "612eb946.d23fa8"
            ],
            [
                "c6a2ed2a.639de"
            ]
        ]
    },
    {
        "id": "acbc8197.4ab14",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "Not On Fire #03-456",
        "topic": "On Fire",
        "payload": "{\"#03-456\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 544,
        "y": 418,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "853b3700.6e7648",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "On Fire #03-457",
        "topic": "On Fire ",
        "payload": "{\"#03-457\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 533,
        "y": 474,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "e27ac998.185968",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "Not On Fire #03-457",
        "topic": "On Fire",
        "payload": "{\"#03-457\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 542,
        "y": 508,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "e6b7db04.057808",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "On Fire #02-456",
        "topic": "On Fire ",
        "payload": "{\"#02-456\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 533,
        "y": 560,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "40f92489.276f5c",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "Not On Fire #02-456",
        "topic": "On Fire",
        "payload": "{\"#02-456\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 544,
        "y": 593,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "f55744a6.3e78e8",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "On Fire #02-456",
        "topic": "On Fire ",
        "payload": "{\"#02-456\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 536,
        "y": 642,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "3367bf0e.5fa3d",
        "type": "inject",
        "z": "b872d9b2.c3fec8",
        "name": "Not On Fire #02-456",
        "topic": "On Fire",
        "payload": "{\"#02-456\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 546,
        "y": 676,
        "wires": [
            [
                "567e12e2.de654c"
            ]
        ]
    },
    {
        "id": "612eb946.d23fa8",
        "type": "function",
        "z": "b872d9b2.c3fec8",
        "name": "Smoke Message",
        "func": "var householdOnFire = msg.topic\nvar emergencyMessage = \"Help, smoke has been detected in \" + householdOnFire\nmsg.payload = emergencyMessage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 996.5,
        "y": 342,
        "wires": [
            [
                "ac61573c.c607e8",
                "c6a2ed2a.639de",
                "69894e03.9eb2c",
                "95084fce.27527"
            ]
        ]
    },
    {
        "id": "69894e03.9eb2c",
        "type": "twilio out",
        "z": "b872d9b2.c3fec8",
        "twilio": "13d31f91.4f36",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "SMS alert to neighbour",
        "x": 1406.750015258789,
        "y": 235.7500057220459,
        "wires": []
    },
    {
        "id": "95084fce.27527",
        "type": "twilio out",
        "z": "b872d9b2.c3fec8",
        "twilio": "13d31f91.4f36",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "SMS alert to neighbour",
        "x": 1404.0000228881836,
        "y": 291.5000057220459,
        "wires": []
    },
    {
        "id": "c4e8ac58.ef962",
        "type": "comment",
        "z": "b872d9b2.c3fec8",
        "name": "Smoke Detector Network Flow",
        "info": "",
        "x": 494.50001525878906,
        "y": 269.50000381469727,
        "wires": []
    },
    {
        "id": "c73f0dbe.36479",
        "type": "change",
        "z": "b872d9b2.c3fec8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 874,
        "y": 88,
        "wires": [
            [
                "8341db55.31a4e8"
            ]
        ]
    },
    {
        "id": "8341db55.31a4e8",
        "type": "visual-recognition-v3",
        "z": "b872d9b2.c3fec8",
        "name": "",
        "vr-service-endpoint": "https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/ac9415db-14c8-4236-bc3e-c872995f3db8",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 1079.3572387695312,
        "y": 88.14291381835938,
        "wires": [
            [
                "4db30214.4e3abc"
            ]
        ]
    },
    {
        "id": "4db30214.4e3abc",
        "type": "function",
        "z": "b872d9b2.c3fec8",
        "name": "Process results",
        "func": "result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              result.push(current_value.class);\n          });\n        });\nmsg.verbal=result.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 697.7146072387695,
        "y": 172.78576850891113,
        "wires": [
            [
                "9b3310ab.e829f"
            ]
        ]
    },
    {
        "id": "9b3310ab.e829f",
        "type": "function",
        "z": "b872d9b2.c3fec8",
        "name": "Fire Message",
        "func": "if (msg.verbal.includes(\"fire\")){\n    var emergencyMessage = \"Help, fire has been detected!\"\n    msg.payload = emergencyMessage\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 918.1071929931641,
        "y": 171.2142972946167,
        "wires": [
            [
                "11acfc21.573304"
            ]
        ]
    },
    {
        "id": "bb36594c.24ab38",
        "type": "http in",
        "z": "b872d9b2.c3fec8",
        "name": "",
        "url": "/uploadsimple_post",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 523.25,
        "y": 102.50000190734863,
        "wires": [
            [
                "c73f0dbe.36479"
            ]
        ]
    },
    {
        "id": "11acfc21.573304",
        "type": "switch",
        "z": "b872d9b2.c3fec8",
        "name": "isOnFire",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "fire",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1161.875015258789,
        "y": 166.25000286102295,
        "wires": [
            [
                "ac61573c.c607e8",
                "69894e03.9eb2c",
                "95084fce.27527"
            ]
        ]
    },
    {
        "id": "13d31f91.4f36",
        "type": "twilio-api",
        "z": "",
        "name": "",
        "sid": "AC87f7f13c66a37b289417bcee4d745e6c",
        "from": "+12019077981"
    },
    {
        "id": "2d39eb3.3865614",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    }
]